<%= form_with(model: linker, local: true) do |form| %>
  <% if linker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(linker.errors.count, "error") %> prohibited this linker from being saved:</h2>

      <ul>
        <% linker.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
