/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

body {
  background-color: #f3f9f9;
}

.title {
  text-align: center;
  margin    : 0.5em 0;
}

.group {
  margin: 1em 0;
}

.group label {
  margin: 1em 0;
}

.input {
  border-top   : none;
  border-left  : none;
  border-right : none;
  border-bottom: 1px solid #e3e3e3;
  display      : block;
}

.input-url {
  width: 100%;
}

.input-url:focus {
  outline: none;
}

.successful {
  margin-top: 100px;
  text-align: center;
}

.login {
  margin: 40px auto;
  width : 400px;
}

.login label,
.actions {
  margin: 20px 0 10px;
}

.login .title {
  margin: 0 40px;
}