<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">UrlShorter</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if current_user %>
    <div>
      <%= bi_icon 'person-circle', class: 'shop-style', width: "32",  height: "32" %>
      <div class="btn-group">
        <i class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= current_user.email %>
        </i>
        <ul class="dropdown-menu">
          <li> <%= link_to 'logout', destroy_user_session_path, method: 'delete' %> </li>
        </ul>
      </div>
    </div>
    <% else %>
    <%= link_to 'login', new_user_session_path, class: 'text-light' %>
    <% end %>
  </div>
</nav>